@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  h3 {
    color: $dark-gray;
  }

  p {
    color: $middle-gray;
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail:hover {
  text-shadow: $hover-text-shadow;
}

.thumbnail.visible {
  opacity: 1;
}
