@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s;
  opacity: 0;

  h3 {
    color: $dark-gray;
  }

  small {
    margin-top: -4px;
    margin-bottom: 2px;
    color: $light-gray;
  }

  p {
    color: $description-color;
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail:hover {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.thumbnail.visible {
  animation: fadein 0.4s forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
