@import '../../styles/variables.scss';

.toTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: $category-background-color;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $category-border-color;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .text {
    font-size: 12px;
    color: $category-text-color;
    font-weight: bolder;
    opacity: 0.4;
  }
}

.toTop:focus {
  outline: 0;
}
