.revue-button {
  margin: 4px;

  .link {
    display: inline-block;
    padding: 0px 13px 0px 8px;
    height: 33px;
    text-decoration: none;
    background-color: #E15718;
    color: #fff;
    border: 1px solid #E15718;
    border-radius: 6px;
    letter-spacing: -0.18px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 30px;
    text-align: left;

    &:hover,
    &:active {
      background-color: #ca5019;
    }

    img {
      width: 22px;
      margin-bottom: 3px;
      border: 1px solid #fff;
      border-radius: 50%;
      vertical-align: middle;
    }

    span {
      margin-left: 6px;
    }
  }
}
