h1,
h2 {
  border-bottom: transparent !important;
}

td:first-child {
  text-align: right !important;
  font-weight: bolder !important;
}

th {
  padding: 0 !important;
}

code {
  font-weight: 500 !important;
}

div.final {
  margin-top: 5em !important;
}
