.category-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin: 0 auto;
  line-height: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  background-color: #fff;
  z-index: 1;
  padding: 12px 0px;

  .item {
    display: inline-block;
    margin: 0.25rem 6px 0.25rem 0;
    border-radius: 15px;
    border: 1px solid #666;
    white-space: normal;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    a {
      display: block;
      padding: 14px 16px 16px 16px;
      font-size: 13px;
      color: #666;
      -webkit-box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
    }
  }
  .item:last-child {
    margin-right: 0;
  }

  .item.selected {
    border: 2px solid;
    font-weight: bolder;
    -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.05);
  }
}

.category-container::-webkit-scrollbar {
  display: none; // Safari and Chrome
}
