.home-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
  background: #fff;
  z-index: 1;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
