.header {
  margin-top: 0;
}

.home-header {
  font-size: 64px;
}

.post-header {
  font-family: 'Montserrat, sans-serif';
  font-size: 36px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
