@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  height: 60px;
  border: 0px solid #000000;
  background: $theme-gradient;

  .link {
    display: inline-block;
    font-size: 28px;
    padding-top: 8px;
    color: #fff;
    opacity: 0.7;
    margin-left: 20px;
    font-family: 'Catamaran';
    font-weight: 800;
  }
}
