@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  height: 60px;
  border: 0px solid #000000;
  background: $theme-gradient;

  .link {
    font-size: 28px;
    padding: 5px;
    color: #fff;
    opacity: 0.8;
    display: block;
    margin-left: 24px;
  }
}
