@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: $light-background-color;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  // text-rendering: optimizelegibility;
  transition: background-color 0.3s, color 0.3s;
}
