@import '../styles/variables.scss';

body {
  font-family: 'Noto Sans KR', sans-serif;
  text-shadow: $default-text-shadow;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-background-color;
}

body.light {
  background-color: $light-background-color;
}

body.dark {
  background-color: $dark-background-color;
}
